

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_container {
  
  img {
    margin: 0 auto;
    width: 100%;
  }
  
  }


h3 {
  margin-top: 1.5rem;
  color: #1c238a;
}

@media (max-width: 500px) {

  img {
    margin: 0 auto;
    width: 100%;
  }
}





  
  